# Go
# Build your Go project.
# Add steps that test, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/go

parameters:
  - name: version
    displayName: Release Version
    type: string

jobs:

- job: Package
  pool:
    vmImage: 'ubuntu-latest'

  steps:
  - task: GoTool@0
    displayName: 'Install Go'
    inputs:
      version: 1.17.4
      GOPATH: '$(Pipeline.Workspace)/gopath'
      GOBIN:  '$(GOPATH)/bin'

  - task: Bash@3
    displayName: "Build Packages"
    inputs:
      filePath: '$(system.defaultWorkingDirectory)/scripts/build.sh'
      failOnStderr: true
    env:
      VERSION: ${{ parameters.version }}
  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: '$(system.defaultWorkingDirectory)/dist/'
      artifact: 'artifact'
      publishLocation: 'pipeline'
