name: PR Check
on: [pull_request]
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Setup env
        run: |
          echo "::set-env name=GOPATH::$HOME/go"
          echo "::set-env name=PATH::$PATH:$HOME/go/bin"
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.17
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: make test
        run: |
          make test
  depscheck:
    name: depscheck
    runs-on: ubuntu-latest
    steps:
      - name: Setup env
        run: |
          echo "::set-env name=GOPATH::$HOME/go"
          echo "::set-env name=PATH::$PATH:$HOME/go/bin"
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.17
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: make depscheck
        run: |
          make depscheck
